results/**
resources/**
logs/**
.snakemake
.snakemake/**
/.ipynb_checkpoints/
__pycache__
busco_*.log
rm_fasta.sh
tmp_envs/**
busco_downloads
readme.txt
workflow/busco_downloads/
workflow/.ipynb_checkpoints/
workflow/scripts/.ipynb_checkpoints/
workflow/envs/.ipynb_checkpoints/
workflow/Snakefile_assembly_polishing.py
workflow/Snakefile_comparative.py